/* ---------------- GLOBAL STYLES ------------------ */
/* google fonts links */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@-0;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

/* colors and fonts used */
:root{
    --background-color: #292F36;
    --logo-color: #12F7D6;
    --text-color: #98FAEC;
    --white-color: #FFFFFF;
    --font-family-ibm: "IBM Plex Mono", monospace;
    --font-family-ubuntu: "Ubuntu", sans-serif;
    --line-color: #43454D;
    --nav-color: #1A1E23;
    --box-shadow-color: #0C73B8;
    --html-color: #E54F26;
    --js-color: #E7A020;
    --react-color: #28A9E0;
    --icon-color: #2D3648;
}

*, *::before, *::after{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}




/* ---------------- COMMON STYLES ------------------ */
header, #logo, .right-header, header nav, header nav menu, .hero-navbar, .header-social-media, .header-media, #search-bar, .content-1, .profile-infos, .download-btn, #message-me, .highlights, .highlights p, .about-me-container,.about-me-contents, .skills-title-top, .skills-contents-top, .frontend-skills, .scroll-container, .works-section-bottom, .blogs-column, .blogs-column-info, .column-info-bottom, .blogs-btns, .contact-bottom, .same-line-inputs, .view-website, .contact-bottom form button, footer, .policy, .footer-media, .apage-topbar, .apage-webdev-highlights, .apage-btn, .apage-article, .apage-webdev-highlights-1, .first-order{
    display: flex;
}

body, .about-me-contents h2, .about-me-contents div, .works-section-bottom button{
    background-color: var(--background-color);
}

header, .content-1, #content-2-info, #message-me, .highlights, .about-me-contents div, .skills-title-bottom p, .services p, .skills-specifics, .frontend-skills, .works-title p, .view-website a, .blogs-title p, .blogs-btns a, .contact-title p, .contact-bottom h4, .bpage-top-section p{
    font-family: var(--font-family-ibm);
}

#contents-head, .download-btn, .content-2-infos h2, .about-me-contents h2, .skills-title-bottom h5, .works-title h5, .blogs-title h5, .blogs-column-content, .contact-title h5, .contact-bottom form label, .contact-bottom form input, .contact-bottom form button, footer, .bpage-top-section h5, .bpage-top-btn, .apage-top-section, #apage-more-title, #blogs-btn-1, #blogs-btn-2{
    font-family: var(--font-family-ubuntu);
}

header nav menu li:hover, header nav menu li:focus, .header-media:hover, .header-media:focus, button:hover, button:focus, .view-website:hover, .view-website:active, .read-more-link:hover, .read-more-link:active, .blogs-btns a:hover, .blogs-btns a:active, .bpage-btn:hover, .bpage-btn:focus, .apage-btn:hover, .apage-btn:focus, .apage-topbar i:hover, .apage-topbar i:focus{
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: 200ms ease-in;
}

.blogs-column-content p, .blogs-column-content a, .contact-bottom form label, .read-more-link, .highlighted-texts, .light-texts, footer, .bpage-top-btn{
    font-weight: 300;
}

header nav li, .header-media span, #contents-head, .download-btn, .content-2-infos h2, .about-me-contents h2, .skills-title-bottom h5, .works-title h5, .blogs-title h5, .blogs-column-content h6, .blogs-btns a, .contact-title h5, .bpage-top-section h5, .apage-top-section h6{
    font-weight: 400;
}

#logo, #hello, .bold-texts, .contact-bottom h4, .contact-bottom form button{
    font-weight: 500;
}

#logo-code, header nav menu a:hover, header nav menu a:active, .header-media i, .header-media span:hover, .header-media span:focus, .profile-infos i, #ini, #message-me p, #message-me i, .highlights-nums, #mouse-icon-1, #mouse-icon-2, #hello, .colored-texts, #code-icon, .skills-title-bottom h5, .works-title h5, .view-website a, .blogs-title h5, .blogs-column-content h6, .blogs-column-content a, .contact-title h5, .contact-bottom h4, .contact-bottom form label, footer a, .bpage-top-section h5, .apage-top-section h6, #apage-more-title, .apage-article-headings{
    color: var(--logo-color);
}

#logo, header menu li a, .header-media span, .hero-navbar a, .profile-name, .profile-infos p, .profile-infos a, .content-2-infos h2, #content-2-info, .highlights-infos, .module-title i, .about-me-contents h2, .about-me-contents div, .skills-title-bottom p, .frontend-skills i, .works-title p, #move-icon-1, #move-icon-2, .blogs-title p, .blogs-column-content p, .blogs-column-info, .column-info-bottom, #blogs-btn-2, .contact-title p, .contact-bottom form input, .contact-bottom form input::placeholder, footer, .bpage-top-section p, .bpage-top-btn, .apage-article p, .apage-webdev-highlights{
    color: var(--white-color);
}

header, .right-header, #search-bar, .content-2, footer, .footer-media, .apage-topbar{
    justify-content: space-between;
}

.about-me-container, .about-me-contents, .skills-title-top, .skills-contents-top, .frontend-skills, .content-1, .scroll-container, .works-section-bottom, .blogs-column, .blogs-btns, .contact-bottom, .contact-bottom form button, .apage-article, .apage-btn{
    justify-content: center;
}

header, #search-bar, .header-media, .hero-navbar, .download-btn, .profile-infos, .highlights, .about-me-contents, .skills-title-top, .scroll-container, .works-section-bottom, .blogs-column, .blogs-btns, .contact-bottom, .contact-bottom form button, footer, .footer-media, .apage-topbar, .apage-btn, .apage-article{
    align-items: center;
}

header nav menu li a, .header-media, .profile-infos a, .view-website a, .blogs-section a, .bpage-bottom-section a, .bpage-top-btn, .apage-more-section a{
    text-decoration: none;
}

#search-bar, #default, .hero-navbar a:hover, .hero-navbar a:active, .download-btn{
    background-color: var(--white-color);
}

.hero-section, .contents-info, .content-2{
    display: grid;
}

#contents-head, .profile-name, .skills-section-infos, .works-section-infos, .blogs-section-top, .contact-top, .bpage-top-section, .apage-top-section h6, .apage-top-section a, #apage-more-title{
    text-align: center;
}

.hero-navbar, .content-1, .highlights, .about-me-contents, .contact-bottom, .apage-article{
    flex-direction: column;
}

.services, #upload-icon1, #upload-icon2, .footer-media i{
    background-color: var(--text-color);
}

.profile-name, #message-me button, .highlights-infos, .works-section-bottom button{
    align-self: center;
}

#search, #message-me button, .download-btn, .works-section-bottom button, .blogs-btns a, .contact-bottom form button{
    border: none;
}

.highlights, .hero-navbar, .about-me-section, .works-section, .contact-section, footer{
    background-color: var(--nav-color);
}

.about-me-bg, .skills-section-bg{
    filter: opacity(10%);
}

.services i, .skills-dev, #blogs-btn-1, .contact-bottom form button, .footer-media i{
    color: var(--background-color);
}

.about-me-bg, .skills-section-bg, .works-section-bg{
    position: relative;
}

.about-me-infos, .skills-section-infos, .works-section-infos, #monitor-1-img, #monitor-2-img, .view-website{
    position: absolute;
}

.about-me-infos, .skills-section-infos, .works-section-infos{
    z-index: 2;
}

.same-line-inputs, .highlights{
    justify-content: space-evenly;
}

.about-me-contents h2, #blogs-section-img{
    align-self: flex-start;
}

#message-me button, .highlighted-texts{
    background-color: var(--line-color);
}

.labels mark, #blogs-btn-1, .contact-bottom form button, .footer-media i{
    background-color: var(--logo-color);
}

#blogs-btn-2, .contact-bottom form input, .bpage-top-btn{
    background: none;
}

.apage-topbar, .apage-webdev-highlights{
    margin: 0 auto;
}

#search, .contact-bottom form input{
    outline: none;
}


/* sizes (vh, vw, %, rem) */
.about-me-bg, .skills-section-bg, .works-section-bg{
    height: 100vh;
}

.apage-webdev-highlights, .apage-topbar, .apage-article img, .apage-topbar-hr, .apage-article p{
    width: 40%;
}

#monitors-img, .contact-bottom form{
    width: 50%;
}

#default, .hero-navbar a:hover, .hero-navbar a:active, #profile-pic, #message-me button, .frontend-skills i, .works-section-bottom button, .footer-media i, #upload-icon1, #upload-icon2{
    border-radius: 50%;
}

.about-me-bg, .skills-section-bg, .works-section-bg, .blogs-column-info{
    width: 100%;
}

.blogs-section hr, .bpage-bottom-section hr, .apage-more-section hr{
    width: 65%;
    margin: 1rem auto;
    border: 0.1rem solid var(--white-color);
}

#blogs-btn-2, .bpage-top-btn{
    border: 0.1rem solid var(--logo-color);
}

#upload-icon1, #upload-icon2{
    border: 0.3rem solid var(--text-color);
    color: var(--icon-color);
}

#default, .hero-navbar a:hover, .hero-navbar a:active{
    color: var(--nav-color);
    padding: 0.25rem 0.25rem 0.1rem 0.25rem;
}

.view-website, .read-more-link{
    letter-spacing: 0.01rem;
}

#contents-head, .blogs-column-content p, .blogs-btns a, .skills-dev, .apage-webdev-highlights .highlighted-texts{
    letter-spacing: 0.02rem;
}

#content-2-info, .about-me-contents div, .blogs-column-content p{
    line-height: 1.4;
}

#search, #search-bar, .hero-navbar, .labels mark, .about-me-contents div, .highlighted-texts{
    border-radius: 1rem;
}

.blogs-btns a, .contact-bottom form button, .bpage-top-btn{
    border-radius: 2rem;
}

#search-icon, .header-media i, .frontend-skills{
    margin-top: 0.2rem;
}

.skills-title-bottom, .works-title, .skills-contents-top{
    margin-top: 0.6rem;
}

.skills-title-bottom h5, .works-title h5, .blogs-title h5, .contact-title h5, #contents-head, .content-1, .works-section-bottom, .bpage-top-section h5, .bpage-top-btn{
    margin-top: 2rem;
}

#message-label, #message-input{
    margin-left: 4.5rem;
}

#logo, .header-media{
    gap: 0.4rem;
}

.profile-infos, .column-info-bottom, .apage-webdev-highlights, .apage-webdev-highlights-1, .footer-media{
    gap: 1rem;
}

header nav menu, .header-social-media{
    gap: 1.3rem;
}

.blogs-column, .blogs-btns{
    gap: 2rem;
}

.skills-contents-top, .frontend-skills{
    gap: 4rem;
}

.about-me-bg, .skills-section-bg, .works-section-bg{
    top: 0;
    left: 0;
    z-index: 1;
}

.skills-title-bottom p, .works-title p, .blogs-title p, .contact-title p, .bpage-top-section p{
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.labels mark, .highlights-infos{
    font-size: 0.8rem;
}

header nav li a, .header-media span, .profile-name p, .profile-infos, .blogs-btns a, #upload-icon1, #upload-icon, .view-website a, .blogs-column-content p, .blogs-column-info span, .read-more-link a, .contact-bottom form label, .contact-bottom form button, .bpage-top-btn{
    font-size: 0.8rem;
}

.download-btn i, #message-me i, .content-1, .skills-dev, .frontend-skills p{
    font-size: 1rem;
}

#logo, header nav menu li a, .header-media i, .hero-navbar i, .services i{
    font-size: 1.2rem;
}

#mouse-icon-1, #mouse-icon-2, #message-me p, .frontend-skills i{
    font-size: 1.5rem;
}

.skills-title-bottom h5, .works-title h5, .blogs-title h5, .contact-title h5, .bpage-top-section h5, #move-icon-1, #move-icon-2{
    font-size: 2rem;
}




/* ---------------- SPECIFIC STYLES ------------------ */

/* ---------------- HEADER SECTION STYLES ------------------ */
header{
    padding: 2rem 6rem;
}

header nav menu li{
    margin-top: 0.1rem;
    list-style: none;
}

#search-bar{
    width: 30%;
    padding: 0.05rem 0.5rem;
    margin-left: 2rem;
}

#search{
    padding: 0rem 0.5rem;
    width: 90%;
}

#top-hr{
    margin: 0rem 6rem;
    border: 0.1rem solid var(--line-color);
}



/* ---------------- HOMEPAGE MAIN SECTION STYLES ------------------ */
/* styling the hero section */
.hero-section{
    grid-template-columns: 0.3fr 7.7fr;
    padding: 2rem;
}

.hero-navbar{
    margin-top: 1rem;
    border: 0.05rem solid var(--white-color);
    justify-content: space-around;
    max-height: 40vh;
}

#contents-head{
    font-size: 3rem;
}

.contents-info{
    grid-template-columns: 1fr 5fr;
    gap: 5rem;
    margin: 0rem 3rem 0rem 6rem;
}

.profile-name{
    margin: 1rem 0rem;
}

.profile-name h3{
    letter-spacing: 0.1rem;
}

#profile-pic{
    width: 4rem;
    height: 4rem;
    border: 0.2rem solid var(--logo-color);
    margin-bottom: 0.5rem;
}

.content-1{
    padding: 1rem;
    border: 0.2rem solid var(--white-color);
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow: -0.2rem -0.3rem 0rem var(--text-color);
}

.profile-infos{
    margin-top: 0.5rem;
}

.profile-infos p{
    letter-spacing: 0.05rem;
    
}

.labels{
    margin-top: 0.5rem;
}

.labels mark{
    padding: 0.1rem 0.45rem;
}

.download-btn{
    gap: 0.8rem;
    font-size: 0.9rem;
    padding: 0.7rem 1.6rem;
    border-radius: 3rem;
}

.download-btn i{
    margin-top: 0.25rem;
}

.download-btn img{
    width: 12%;
}

#contents-head{
    color: var(--text-color);
}

.content-2{
    grid-template-columns: 6fr 2fr;
    margin-top: 3.5rem;
    padding-right: 3rem;
}

.content-2-infos{
    margin-top: 1.5rem;
}

.content-2-infos h2{
    font-size: 2.5rem;
}

#content-2-info{
    font-size: 0.8rem;
    max-width: 90%;
}

#message-me{
    gap: 0.6rem;
}

#message-me button{
    width: 1.6rem;
    height: 1.6rem;
}

#message-me button i{
    margin-top: 0.1rem;
}

.highlights{
    border-radius: 4rem;
    height: 45vh;
}

.highlights-nums{
    font-size: 2.5rem;
}

.highlights p{
    gap: 0.6rem;
}


/* styling the about me section */
.about-me-section{
    margin-top: 3rem;
}

.about-me-bg{
    background: url(./images/spiral.png);
}

.about-me-infos{
    top: 50rem;
    left: -7rem;
}

#about-me-scroll{
    margin-left: 2.5rem;
}

.about-me-container{
    margin: 3rem 10rem;
}

.about-me-contents h2{
    margin-left: 5rem;
    border: 0.2rem solid var(--logo-color);
    padding: 0.2rem 0.7rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.about-me-contents div{
    max-width: 80%;
    font-size: 0.8rem;
    padding: 0.8rem 1.5rem;
}

.about-me-container img{
    width: 20%;
    border-radius: 0.5rem;
}

#hello{
    font-size: 1.1rem;
}

.scroll-icon{
    width: 1.5rem;
    height: 6.5rem;
}


/* styling the skills section */
.skills-section-bg{
    background: url(./images/skills_img.png);
}

.skills-title-top{
    margin-left: 12rem;
    gap: 5rem;
}

.skills-section-infos{
    top: 87rem;
    left: 25rem;
}

#code-icon{
    font-size: 7rem;
}

#skills-line-icon{
    width: 18%;
}

.services{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    box-shadow: -0.25rem 0rem var(--box-shadow-color);
}

.skills-specifics{
    color: var(--line-color);
    font-size: 0.7rem;
    margin-top: 0.1rem;
}

.frontend-skills i{
    border: 1rem solid;
}

.frontend-skills p{
    margin-top: 0.5rem;
}

#html i{
    border-color: var(--html-color);
    background-color: var(--html-color);
}

#html p{
    color: var(--html-color);
}

#css i{
    border-color: var(--box-shadow-color);
    background-color: var(--box-shadow-color);
}

#css p{
    color: var(--box-shadow-color);
}

#js i{
    border-color: var(--js-color);
    background-color: var(--js-color);
}

#js p{
    color: var(--js-color);
}

#react i{
    border-color: var(--react-color);
    background-color: var(--react-color);
}

#react p{
    color: var(--react-color);
}


/* styling the works section */
.works-section-bg{
    background: url(./images/works_img.png);
    filter: opacity(30%);
}

.works-section-infos{
    top: 127rem;
    left: 20rem;
}

#works-line-icon{
    width: 15%;
}

.works-section-top{
    margin-right: 20rem;
}

.works-section-bottom{
    max-width: 60%;
}

#monitor-1-img{
    width: 5rem;
    height: 6.6rem;
    top: 64.5%;
    left: 19%;
}

#monitor-2-img{
    width: 7rem;
    height: 4rem;
    left: 29.2%;
    top: 71.5%;
}

.view-website{
    top: 63%;
    left: 30.5%;
}

.view-website a{
   border-bottom: 0.13rem solid var(--white-color);
   align-self: center;
}

.view-website img{
    margin: 0.6rem 0rem 0rem 0.2rem;
}


/* styling the blogs section */
.blogs-section{
    padding: 3rem 0rem;
}

#blogs-line-icon{
    width: 7%;
}

#blogs-section-img{
    width: 12rem;
    height: 13rem;
}

.blogs-column{
    padding: 1rem 0rem;
}

.column-info-bottom{
    margin: 1rem 0rem;
}

.bold-texts{
    margin-right: 0.3rem;
}

.blogs-column-content h6{
    font-size: 1.6rem;
    margin-top: 0.7rem;
}

.blogs-column-content p{
    margin: 1.5rem 0rem 1rem 0rem;
    width: 90%;
}

#read-link{
    border-bottom: 0.15rem solid var(--white-color);
    padding-bottom: 0.2rem;
}

.blogs-column{
    padding-left: 2rem;
}

.blogs-column-info{
    margin-top: 0.7rem;
    gap: 1.5rem;
}

.highlighted-texts{
    align-self: center;
    padding: 0.2rem 0.5rem;
}

.blogs-btns{
    margin: 3rem 0rem 3rem 0rem;
}

#blogs-btn-1, .bpage-top-btn{
    padding: 0.6rem 1.3rem;
}

#blogs-btn-2{
    margin-top: 0.1rem;
    padding: 0.55rem 1.3rem;
}


/* styling the contact section */
.contact-container{
    padding: 4rem 0rem 0rem 0rem;
}

#contact-line-icon{
    width: 10%;
}

.contact-bottom{
    margin-top: 3rem;
    padding: 0rem 2rem;
}

.contact-bottom h4{
    padding: 0.5rem 1.2rem;
    border: 0.1rem solid var(--logo-color);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.contact-bottom form{
    padding: 2rem 0rem;
    text-align: start;
}

.contact-bottom form input{
    margin-top: 0.8rem;
    border-width: 0rem 0rem 0.1rem 0rem;
    border-bottom-style: solid;
    border-bottom-color: var(--text-color);
}

.contact-bottom form input::placeholder{
    font-size: 0.7rem;
}

.same-line-inputs{
    align-items: flex-start;
   
}

#message-input{
    width: 75%;
}

.contact-bottom form button{
    margin: 2rem auto;
    padding: 0.3rem 1rem;
}

#send-icon{
    margin-left: 0.4rem;
    font-size: 0.2rem;
}

.contact-section hr{
    border: 0.01rem solid var(--white-color);
}



/* ---------------- BLOGS PAGE MAIN SECTION STYLE ------------------ */
.blogspage-main{
    margin-top: 7rem;
}



/* ---------------- ARTICLES PAGE MAIN SECTION STYLES ------------------ */
.apage-top-section h6{
    margin-top: 5rem;
    font-size: 1.4rem;
}

.apage-topbar{
    padding: 0rem 0.7rem;
    font-size: 0.9rem;
}

.apage-topbar-hr{
    margin: 1rem auto;
    border: 0.1rem solid var(--line-color);
}

.apage-article p{
    line-height: 1.6;
    font-size: 0.9rem;
}

.apage-webdev-highlights{
    font-size: 0.7rem;
}

#apage-more-title{
    margin-top: 8rem;
    font-size: 2rem;
}



/* ---------------- FOOTER SECTION STYLES ------------------ */
footer{
    padding: 1.3rem 6rem;
    font-size: 0.85rem;
}

.policy{
    gap: 1.5rem;
}

.first-order{
    gap: 3rem;
}

.footer-media i{
    padding: 0.3rem;
    font-size: 1rem;
    margin-left: 0.2rem;
}






/* ---------------- MEDIA QUERIES ------------------ */

/* common styles across phones and tablets */
@media (max-width: 1000px){

    /* ---------------- COMMON STYLES ------------------ */
    .about-me-infos, .skills-section-infos, .works-section-infos{
        left: 0;
    }



    /* ---------------- HEADER SECTION STYLES ------------------ */
    #search-bar{
        background: none;
        color: var(--white-color);
    }

    header nav menu li a{
        font-size: 1.05rem;
    }



    /* ---------------- BLOGS PAGE MAIN SECTION STYLES ------------------ */
    .bpage-top-btn{
        font-size: 1rem;
    }



    /* ---------------- FOOTER SECTION STYLES ------------------ */
    footer{
        gap: 1rem;
        flex-direction: column;
    }

    .footer-media{
        order: 1;
    }

    .first-order{
        order: 2;
    }

    #designer{
        order: 3;
    }
}




/* specific styles for phone */
@media (max-width: 600px){

    /* ---------------- COMMON STYLES ------------------ */
    .hero-section, .contents-info, .content-2{
        display: flex;
    }

    header nav, .contents-info, .about-me-container, .skills-contents-top, .contact-bottom form{
        align-items: center;
    }

    footer, .footer-media, .contents-info, .about-me-container, .skills-contents-top, .apage-topbar, .contact-bottom form{
        justify-content: center;
    }

    .highlights, .about-me-contents h2, #blogs-section-img, .blogs-section #blogs-section-img, .contact-bottom h4{
        align-self: center;
    }

    .apage-webdev-highlights, .blogs-column, .contents-info, .content-2, .about-me-container, .skills-contents-top, footer, .first-order{
        flex-direction: column;
    }

    #search, .header-social-media, #upload-icon1, #upload-icon2, .hero-navbar, #contents-head, .scroll-icon, #code-icon, #about-me-scroll{
        display: none;
    }

    .contact-container, .contact-bottom{
        align-items: flex-start;
    }

    #logo, header menu li a{
        font-weight: 300;
    }


    /* sizes (vh, vw, %, rem) */
    .blogs-section hr, #message-input{
        width: 90%;
    }

    .bpage-bottom-section hr, .apage-more-section hr{
        width: 94%;
    }

    .apage-topbar, .apage-webdev-highlights, .footer-media, .apage-article img, .apage-article p, #monitors-img, .contact-bottom form{
        width: 100%;
    }

    .contents-info, .about-me-container, .blogs-column{
        margin: 0;
    }

    #search-bar, .about-me-contents h2{
        margin-left: 0;
    }

    .frontend-skills, .bpage-bottom-section p, .apage-article p{
        margin-top: 0.5rem;
    }

    .labels, .labels mark{
        margin-top: 0.8rem;
    }

    .contact-bottom form label, #message-input{
        margin-top: 2rem;
        margin-left: 1rem;
    }

    .hero-section, .contents-info, .blogs-column{
        padding: 0;
    }

    .works-title p, .blogs-title p, .contact-title p{
        padding: 0rem 2rem;
    }

    .content-2, .skills-title-bottom p, .apage-article img, .apage-article p, .apage-webdev-highlights{
        padding: 0rem 3rem;
    }

    .contents-info, .frontend-skills{
        gap: 0;
    }

    header nav menu, .apage-topbar .blogs-column-info, .first-order{
        gap: 1rem;
    }

    .apage-webdev-highlights-1, .footer-media{
        gap: 1.5rem;
    }

    header, .skills-contents-top, .blogs-column, .blogs-section .blogs-btns{
        gap: 2rem;
    }

    .profile-infos p, .profile-infos a, .profile-infos i{
        font-size: 0.95rem;
    }

    #logo, header menu li a, .download-btn, .skills-title-bottom p, .works-title p, .blogs-title p, .contact-bottom form button span, .blogsp-top-btn, .contact-title p{
        font-size: 1rem;
    }

    .frontend-skills p, #blogs-btn-1, #blogs-btn-2{
        font-size: 1.2rem;
    }

    #search-icon, #message-me p, .services i{
        font-size: 1.5rem;
    }

    .skills-title-bottom h5, .works-title h5, .blogs-title h5, .contact-title h5{
        font-size: 3rem;
    }

    




    /* ---------------- SPECIFIC STYLES ------------------ */

    /* ---------------- HEADER SECTION STYLES ------------------ */
    header{
        padding: 1.5rem 1.2rem;
    }

    header nav menu{
        margin-right: 0.8rem;
    }

    #top-hr{
        margin: 0rem 1.2rem;
    }



    /* ---------------- HOMEPAGE MAIN SECTION STYLES ------------------ */
    /* styling the hero section */
    .highlights{
        margin-top: 3rem;
        height: 17rem;
        padding: 1rem 1.5rem;
        border-radius: 4rem;
    }


    /* styling the about me section */
    .about-me-infos{
        top: 85rem;
    }

    .about-me-contents div{
        margin-top: 1rem;
    }
    
    .about-me-container img{
        margin-top: 1.8rem;
        width: 60%;
    }


    /* styling the skills section */
    .skills-section-infos{
        top: 145rem;
    }

    #skills-line-icon{
        width: 30%;
    }

    .services{
        padding: 0.6rem 1.5rem;
    }

    .skills-specifics{
        margin-top: 0.3rem;
        font-size: 0.8rem;
    }

    .frontend-skills{
        flex-wrap: wrap;
    }

    .frontend-skills span{
        flex: 1 1 40%;
        box-sizing: border-box;
    }

    .frontend-skills i{
        margin-top: 1rem;
        border: 2rem solid;
    }


    /* styling the works section */
    .works-section-infos{
        top: 195rem;
    }

    #works-line-icon{
        width: 35%;
    }

    .works-section-top{
        margin-right: 0rem;
    }

    .works-section-bottom{
        max-width: 100%;
        margin: 5rem 1rem 0rem 1rem;
    }

    #monitor-1-img{
        width: 5.5rem;
        height: 7.1rem;
        top: 15.9rem;
        left: 4.35rem;
    }
    
    #monitor-2-img{
        width: 7rem;
        height: 4.2rem;
        top: 18rem;
        left: 11rem;
    }

    .view-website{
        top: 60%;
        left: 50%;
    }


    /* styling the blogs section */
    .blogs-title p{
        margin-bottom: 1rem;
    }

    .blogs-column{
        padding: 1rem 0rem;
    }

    .blogs-section .blogs-column{
        margin-top: 0;
        padding-top: 0;
    }

    .blogs-section #blogs-section-img{
        width: 7.5rem;
        height: 7rem;
    }

    .blogs-section .blogs-column-content{
        padding: 0rem 2.5rem;
    }
    

    /* styling the contact section */
    #contact-line-icon{
        width: 50%;
    }

    #send-icon{
        font-size: 0.1rem;
    }

    #message-label{
        margin-left: 1rem;
    }

    .contact-bottom form input{
        width: 75%;
    }



    /* ---------------- BLOGS PAGE MAIN SECTION STYLES ------------------ */
    .blogspage-main{
        margin-top: 3.5rem;
    }

    .bpage-top-section h5{
        font-size: 4rem;
    }

    #blogs-line-icon{
        /* 39% - 44% */
        width: clamp(39vw, 40%, 44vw);
    }

    .bpage-top-section p{
        text-align: center;
        margin: 0.5rem 5rem;
        font-size: 0.8rem;
        line-height: 1.4;
    }

    .blogs-column{
        margin-top: 2rem;
    }

    .blogs-column .blogs-column-info{
        display: inline-block;
        margin-top: 1.5rem;
    }

    .blogs-column-info span{
        font-size: 0.75rem;
    }

    .blogsp-top-btn{
        margin-top: 0;
    }

    .blogs-column-content{
        padding: 0rem 2.5rem 0rem 3rem;
    }

    .blogspage-main .blogs-column-content p{
        margin-top: 1.5rem;
    }

    #blogs-section-img{
        width: 6rem;
        height: 6rem;
    }



    /* ---------------- ARTICLES PAGE MAIN SECTION STYLES ------------------ */
    .apage-top-section h6{
        font-size: 2rem;
        padding: 0rem 3rem 1rem 3rem;
        text-align: start;
    }

    .bold-texts{
        margin-right: 0.1rem;
    }

    .apage-topbar .column-info-bottom{
        gap: clamp(1.1rem, 5vw, 1.5rem);
    }

    .apage-topbar-hr{
        width: 85%;
    }

    #apage-webdev-highlights-2{
        align-self: flex-start;
    }



    /* ---------------- FOOTER SECTION STYLE ------------------ */
    footer{
        padding: 2rem;
    }
}





@media (min-width: 350px) and (max-width: 400px){

    /* ---------------- HOMEPAGE MAIN SECTION STYLES ------------------ */
    /* styling the about me section */
    .about-me-bg{
        height: 130vh;
    }

    .about-me-container img{
        margin-top: 2rem;
    }

    /* styling the skills section */
    .skills-section-bg{
        height: 135vh;
    }


    .works-section-infos{
        top: 205rem;
    }
    
}


@media (min-width: 380px) and (max-width: 400px){
    /* styling the skills section */
    .skills-section-infos{
        top: 160rem;
    }


    .works-section-infos{
        top: 225rem;
    }

}





/* specific styles for tablet */
@media (min-width: 600px) and (max-width: 1000px){

    /* ---------------- COMMON STYLES ------------------ */
    #search, .header-media span, .scroll-icon{
        display: none;
    }


    /* sizes (vh, vw, %, rem) */
    .apage-topbar-hr, .apage-topbar, .apage-article img, .apage-article p, .apage-webdev-highlights{
        width: 100%;
    }

    .apage-topbar-hr, .apage-topbar, .apage-webdev-highlights{
        margin: 0;
    }

    .apage-article img, .apage-article p{
        margin-top: 0.8rem;
    }

    .apage-topbar .column-info-bottom, .apage-webdev-highlights-1, .apage-webdev-highlights{
        gap: 1.5rem;
    }

    .header-social-media, header nav menu, .first-order{
        gap: 2rem;
    }

    .works-title p, .blogs-title p, .contact-title p, .bpage-top-section p, #upload-icon1, #upload-icon2{
        font-size: 1rem;
    }

    #logo, #search-icon, .header-media i{
        font-size: 1.2rem;
    }

    .works-title h5, .blogs-title h5, .contact-title h5{
        font-size: 3rem;
    }




    /* ---------------- SPECIFIC STYLES ------------------ */

    /* ---------------- HEADER SECTION STYLES ------------------ */
    header{
        padding: 1.5rem 2rem;
        gap: 0rem;
    }

    #search-bar{
        margin-right: 2rem;
    }

    header nav{
        gap: 1rem;
        align-self: center;
        margin-top: 0.3rem;
    }

    #top-hr{
        margin: 0rem 2rem;
    }



    /* ---------------- HOMEPAGE MAIN SECTION STYLES ------------------ */
    /* styling the works section */
    .works-section-infos{
        top: 185rem;
    }

    #works-line-icon{
        width: 30%;
    }

    .works-section-top{
        margin-right: 0rem;
    }

    .works-section-bottom{
        max-width: 100%;
        
    }

    
    
    /*

    

    

    .works-section-top{
        margin-right: 20rem;
    }

    .works-section-bottom{
        max-width: 60%;
    }

    #monitor-1-img{
        width: 5rem;
        height: 6.6rem;
        top: 64.5%;
        left: 19%;
    }

    #monitor-2-img{
        width: 7rem;
        height: 4rem;
        left: 29.2%;
        top: 71.5%;
    }

    .view-website{
        top: 63%;
        left: 30.5%;
    }

    .view-website a{
    border-bottom: 0.13rem solid var(--white-color);
    align-self: center;
    }

    .view-website img{
        margin: 0.6rem 0rem 0rem 0.2rem;
    }
 */


    /* styling the contact sction */
    #contact-line-icon{
        width: 23%;
    }

    .same-line-inputs{
        gap: 3rem;
    }

    #message-label, #message-input{
        margin-left: 0;
    }

    #message-input{
        width: 25.5rem;
    }



    /* ---------------- BLOGS PAGE MAIN SECTION STYLES ------------------ */
    .bpage-top-section h5{
        font-size: 3.5rem;
    }

    #blogs-line-icon{
        width: 20%;
    }

    .bpage-bottom-section hr{
        width: 80%;
    }

    #blogs-section-img{
        margin-top: 1rem;
        width: 8rem;
        height: 7rem;
    }

    .blogs-column{
        padding: 1rem 5rem;
    }



    /* ---------------- ARTICLES PAGE MAIN SECTION STYLES ------------------ */
    .apage-top-section h6{
        text-align: start;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .apage-top-section{
        padding: 0rem 4rem;
    }

    .apage-topbar{
        padding: 0.4rem 1.5rem;
    }

    .apage-webdev-highlights .highlighted-texts{
        margin: 1rem 0rem 0.7rem 0rem;
    }

    #apage-more-title{
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .apage-more-section hr{
        margin: 0rem auto;
        width: 80%;
    }



    /* ---------------- FOOTER SECTION STYLES ------------------ */
    footer{
        padding: 1.5rem 2rem;
    }
}




/* for laptops */
@media (min-width: 1000px) and (max-width: 1900px){

    /* ---------------- COMMON STYLES ------------------ */
    /* sizes (vh, vw, %, rem) */
    .apage-article img, .apage-article p, .apage-webdev-highlights, .apage-topbar-hr, .apage-topbar{
        width: 60%;
    }

    header nav menu, .header-social-media, .apage-topbar .column-info-bottom{
        gap: 2rem;
    }

    .bpage-top-section p, .blogsp-top-btn{
        font-size: 1rem;
    }

    

    /* ---------------- SPECIFIC STYLES ------------------ */

    /* ---------------- HEADER SECTION STYLES ------------------ */
    #search-bar{
        margin-left: 5rem;
    }

    .header-media span{
        display: none;
    }



    /* ---------------- HOMEPAGE MAIN SECTION STYLES ------------------ */



    

    /* ---------------- BLOGS PAGE MAIN SECTION STYLES ------------------ */
    .bpage-top-section h5{
        font-size: 3rem;
    }

    #blogs-line-icon{
        width: 9%;
    }

    .bpage-bottom-section hr{
        width: 80%;
    }
    


    /* ---------------- ARTICLES PAGE MAIN SECTION STYLES ------------------ */
    .apage-top-section h6{
        font-size: 1.7rem;
    }

    .apage-webdev-highlights-1, .apage-webdev-highlights{
        gap: 1.5rem;

    }

    .apage-topbar{
        padding: 0rem 2rem;
    }
}
