/* ---------------- GLOBAL STYLES ------------------ */
/* google fonts links */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root{
    --background-color: #292F36;
    --logo-color: #12F7D6;
    --text-color: #98FAEC;
    --white-color: #FFFFFF;
    --font-family-ibm: "IBM Plex Mono", monospace;
    --font-family-ubuntu: "Ubuntu", sans-serif;
    --line-color: #43454D;
    --nav-color: #1A1E23;
    --box-shadow-color: #0C73B8;
    --html-color: #E54F26;
    --js-color: #E7A020;
    --react-color: #28A9E0;
    --icon-color: #2D3648;
}

*, *::before, *::after{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}




/* ---------------- COMMON STYLES ------------------ */
header, .right-header, header nav, header nav menu, .social-media, .media, #search-bar, .navbar, .content-1, .profile-infos, .download-btn, #message-me, .highlights, .highlights p, .about-me-container,.about-me-contents, .skills-title-top, .skills-contents-top, .frontend-skills, .scroll-container, .works-section-bottom, .blogs-column, .column-info, .blogs-btns, .contact-bottom, .same-line-inputs, .contact-bottom form button, footer, .policy, .footer-media, .topbar-info, .topbar, .webname-labels, .articlesp-btn, .article{
    display: flex;
}

header, .content-1, #content-2-info, #message-me, .highlights, .about-me-contents div, .skills-title-bottom p, .services p, .skills-specifics, .frontend-skills, .works-title p, .view-website a, .blogs-title p, .blogs-btns a, .contact-title p, .contact-bottom h4, .blogsp-top-section p{
    font-family: var(--font-family-ibm);
}

nav menu li:hover, .social-media a:hover, button:hover, button:focus, .view-website:hover, .view-website:active, .read-more-link:hover, .read-more-link:active, .blogs-btns a:hover, .blogs-btns a:active, .articlesp-btn:hover, .articlesp-btn:focus, .blogsp-btn:hover, .blogsp-btn:focus, .topbar i:hover, .topbar i:focus{
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: 200ms ease-in;
}

#contents-head, .download-btn, .content-2-infos h2, .about-me-contents h2, .skills-title-bottom h5, .works-title h5, .blogs-title h5, .blogs-column-content, .contact-title h5, .contact-bottom form label, .contact-bottom form input, .contact-bottom form button, footer, .blogsp-top-section h5, .blogsp-top-btn, .articlesp, #more-title{
    font-family: var(--font-family-ubuntu);
}

.blogs-column-content p, .blogs-column-content a, .contact-bottom form label, footer, .blogsp-top-btn, .read-more-link, .column-info p, .topbar-info p{
    font-weight: 300;
}

#contents-head, .download-btn, .content-2-infos h2, .about-me-contents h2, .skills-title-bottom h5, .works-title h5, .blogs-title h5, .blogs-column-content h6, header nav li, .media span, .blogs-btns a, .contact-title h5, .blogsp-top-section h5, .articlesp h6{
    font-weight: 400;
}

header p, #hello, .contact-bottom h4, .contact-bottom form button{
    font-weight: 500;
}

#code-logo, nav menu a:hover, nav menu a:active, nav menu a:focus, .media i, .media span:hover, .media span:focus, .profile-infos i, #ini, #message-me p, #message-me i, .highlights-nums, #mouse-icon-1, #mouse-icon-2, #hello, .colored-texts, #code-icon, .skills-title-bottom h5, .works-title h5, .blogs-title h5, .blogs-column-content h6, .blogs-column-content a, .contact-title h5, .contact-bottom h4, .contact-bottom form label, footer a, .blogsp-top-section h5, .articlesp h6, .sub-headings, #more-title{
    color: var(--logo-color);
}

header p, menu li a, .media span, .navbar a, .profile-name, .profile-infos p, .profile-infos a, .content-2-infos h2, #content-2-info, .highlights-infos, .module-title i, .about-me-contents h2, .about-me-contents div, .skills-title-bottom p, .frontend-skills i, .works-title p, #move-icon-1, #move-icon-2, .view-website a, .blogs-title p, .blogs-column-content p, .column-info, #blogs-btn-2, .contact-title p, .contact-bottom form input, .contact-bottom form input::placeholder, footer, .blogsp-top-section p, .blogsp-top-btn, .topbar-info, .article p, .webname-labels{
    color: var(--white-color);
}

header, .right-header, #search-bar, .content-2, footer, .footer-media, .topbar{
    justify-content: space-between;
}

.about-me-container, .about-me-contents, .skills-title-top, .skills-contents-top, .frontend-skills, .content-1, .scroll-container, .works-section-bottom, .blogs-column, .blogs-btns, .contact-bottom, .contact-bottom form button, .article, .articlesp-btn{
    justify-content: center;
}

header, #search-bar, .media, .navbar, .download-btn, .profile-infos, .highlights, .about-me-contents, .skills-title-top, .scroll-container, .works-section-bottom, .blogs-column, .column-info, .blogs-btns, .contact-bottom, .contact-bottom form button, footer, .footer-media, .topbar, .articlesp-btn, .article{
    align-items: center;
}

header p, .media i, .download-btn i, #message-me i{
    font-size: 1rem;
}

#mouse-icon-1, #mouse-icon-2, #message-me p, .frontend-skills i{
    font-size: 1.5rem;
}

.skills-title-bottom h5, .works-title h5, .blogs-title h5, .contact-title h5, .blogsp-top-section h5{
    margin-top: 2rem;
    font-size: 2rem;
}

header nav li, .media span{
    font-size: 0.8rem;
}

#search, #search-bar, .navbar, .labels mark, .about-me-contents div, .highlighted-texts{
    border-radius: 1rem;
}

header nav menu li a, .social-media a, .profile-infos a, .view-website a, .blogs-section a, .blogsp-bottom-section a, .blogsp-top-btn, .more a{
    text-decoration: none;
}

#search-icon, .media i, #message-me button{
    margin-top: 0.2rem;
}

header nav menu, .social-media{
    gap: 1.3rem;
}

#search-bar, #default, .navbar a:hover, .navbar a:active, .download-btn{
    background-color: var(--white-color);
}

#default, .navbar a:hover, .navbar a:active, #profile-pic, #message-me button, .frontend-skills i, .works-section-bottom button, .footer-media i{
    border-radius: 50%;
}

#default, .navbar a:hover, .navbar a:active{
    color: var(--nav-color);
    padding: 0.25rem 0.25rem 0.1rem 0.25rem;
}

.hero-section, .contents-info, .content-2{
    display: grid;
}

#contents-head, .profile-name, .skills-section-infos, .works-section-infos, .blogs-section-top, .contact-top, .blogsp-top-section, .articlesp h6, .articlesp a, #more-title{
    text-align: center;
}

.navbar, .content-1, .highlights, .about-me-contents, .contact-bottom, .article{
    flex-direction: column;
}

#contents-head{
    color: var(--text-color);
}

.services, .footer-media i{
    background-color: var(--text-color);
}

.profile-name, #message-me button, .highlights-infos, .works-section-bottom button{
    align-self: center;
}

#search, #message-me button, .download-btn, .works-section-bottom button, .blogs-btns a, .contact-bottom form button{
    border: none;
}

.highlights, .navbar, .about-me-section, .works-section, .contact-section, footer{
    background-color: var(--nav-color);
}

body, .about-me-contents h2, .about-me-contents div, .works-section-bottom button{
    background-color: var(--background-color);
}

.about-me-bg, .skills-section-bg, .works-section-bg{
    position: relative;
}

.about-me-bg, .skills-section-bg, .works-section-bg{
    top: 0;
    left: 0;
    z-index: 1;
}

.about-me-bg, .skills-section-bg, .works-section-bg{
    height: 85vh;
    width: 100%;
}


.about-me-bg, .skills-section-bg{
    filter: opacity(10%);
}

.services i, .skills-dev, #blogs-btn-1, .contact-bottom form button, .footer-media i{
    color: var(--background-color);
}

.about-me-infos, .skills-section-infos, .works-section-infos, #monitor-1-img, #monitor-2-img, .view-website{
    position: absolute;
}

.about-me-infos, .skills-section-infos, .works-section-infos{
    z-index: 2;
}

.skills-title-bottom, .works-title{
    margin-top: 0.6rem;
}

.skills-title-bottom p, .works-title p, .blogs-title p, .contact-title p, .blogsp-top-section p{
    margin-top: 0.5rem;
    font-size: 0.65rem;
}

.about-me-contents h2, #blogs-section-img{
    align-self: flex-start;
}

#message-me button, .highlighted-texts{
    background-color: var(--line-color);
}

.labels mark, #blogs-btn-1, .contact-bottom form button, .footer-media i{
    background-color: var(--logo-color);
}

#search, .contact-bottom form input{
    outline: none;
}

#blogs-btn-2, .contact-bottom form input, .blogsp-top-btn{
    background: none;
}

#blogs-btn-2, .blogsp-top-btn{
    border: 0.1rem solid var(--logo-color);
}

.view-website, .read-more-link{
    letter-spacing: 0.01rem;
}

.blogs-section hr, .blogsp-bottom-section hr, .more hr{
    width: 65%;
    margin: 1rem auto;
    border: 0.1rem solid var(--white-color);
}

.profile-name p, .profile-infos{
    font-size: 0.8rem;
}

.blogs-btns a, .blogsp-top-btn{
    padding: 0.6rem 1.3rem;
    border-radius: 2rem;
    font-size: 0.8rem;
}

#upload-icon1, #upload-icon2{
    background-color: var(--text-color);
    border-radius: 50%;
    border: 0.3rem solid var(--text-color);
    font-size: 0.8rem;
    color: var(--icon-color);
}

.topbar, .webname-labels{
    margin: 0 auto;
}

.topbar, #articles-img, .topbar-hr, .article p{
    width: 40%;
}




/* ---------------- SPECIFIC STYLES FOR HOMEPAGE------------------ */
/* styling the header section */
header{
    padding: 2rem 6rem;
}

header nav menu li{
    list-style: none;
}

#search-bar{
    width: 30%;
    padding: 0.05rem 0.5rem;
    margin-left: 2rem;
}

#search{
    padding: 0rem 0.5rem;
    width: 90%;
}

.media{
    gap: 0.4rem;
}

#top-hr{
    margin: 0rem 6rem;
    border: 0.1rem solid var(--line-color);
}


/* styling the hero section */
.hero-section{
    grid-template-columns: 0.3fr 7.7fr;
    padding: 2rem;
}

.navbar{
    border: 0.05rem solid var(--white-color);
    justify-content: space-around;
    max-height: 40vh;
}

#contents-head{
    margin-top: 2rem;
    font-size: 3rem;
    letter-spacing: 0.02rem;
}

.contents-info{
    grid-template-columns: 1fr 5fr;
    gap: 5rem;
    margin: 0rem 4rem;
}

.navbar i{
    font-size: 1.2rem;
}

.profile-name{
    margin: 1rem 0rem;
}
.profile-name h3{
    letter-spacing: 0.1rem;
}

#profile-pic{
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid var(--logo-color);
    margin-bottom: 0.5rem;
}

.content-1{
    margin-top: 2rem;
    padding: 1rem;
    border: 0.2rem solid var(--white-color);
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow: -0.2rem -0.3rem 0rem var(--text-color);
}

.profile-infos{
    margin-top: 0.5rem;
    gap: 1rem;
}

.profile-infos p{
    letter-spacing: 0.05rem;
    font-size: 0.75rem;
}

.profile-infos a{
    font-size: 0.65rem;
}

.labels{
    margin-top: 0.5rem;
}

.labels mark{
    font-size: 0.6rem;
    padding: 0.1rem 0.45rem;
}

.download-btn{
    gap: 0.8rem;
    font-size: 0.9rem;
    padding: 0.7rem 1.6rem;
    border-radius: 3rem;
}

.download-btn i{
    margin-top: 0.25rem;
}

.content-2{
    grid-template-columns: 6fr 2fr;
    margin-top: 3.5rem;
    padding-right: 3rem;
}

.content-2-infos{
    margin-top: 1.5rem;
}

.content-2-infos h2{
    font-size: 2.5rem;
}

#content-2-info{
    font-size: 0.7rem;
    max-width: 90%;
}

#message-me{
    gap: 0.6rem;
}

#message-me button{
    width: 1.6rem;
    height: 1.6rem;
}

.highlights{
    border-radius: 5rem;
    max-height: 45vh;
    justify-content: space-evenly;
}

.highlights p{
    gap: 0.6rem;
}

.highlights-nums{
    font-size: 2rem;
}

.highlights-infos{
    font-size: 0.7rem;
}


/* styling the about me section */
.about-me-section{
    margin-top: 3rem;
}

.about-me-bg{
    background: url(./images/spiral.png);
}

.about-me-infos{
    top: 125%;
    left: -7%;
}

#about-me-scroll{
    margin-left: 2.5rem;
}

.about-me-container{
    margin: 3rem 10rem;
}

.about-me-contents h2{
    margin-left: 5rem;
    border: 0.2rem solid var(--logo-color);
    padding: 0.2rem 0.7rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.about-me-contents div{
    max-width: 80%;
    font-size: 0.65rem;
    padding: 0.8rem 1.5rem;
}

.about-me-container img{
    width: 20%;
    border-radius: 0.5rem;
}

#hello{
    font-size: 1.1rem;
}

.scroll-icon{
    width: 1.5rem;
    height: 6.5rem;
}


/* styling the skills section */
.skills-section-bg{
    background: url(./images/skills_img.png);
}

.skills-title-top{
    margin-left: 12rem;
    gap: 5rem;
}

.skills-section-infos{
    top: 211%;
    left: 32%;
}

#code-icon{
    font-size: 7rem;
}

#skills-line-icon{
    width: 18%;
}

.skills-contents-top{
    margin-top: 0.6rem;
    gap: 4rem;
}

.services{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    box-shadow: -0.25rem 0rem var(--box-shadow-color);
}

.skills-dev{
    font-size: 0.8rem;
}

.skills-specifics{
    color: var(--line-color);
    font-size: 0.5rem;
}

.frontend-skills{
    gap: 4rem;
}

.frontend-skills i{
    border: 1rem solid;
}

.frontend-skills p{
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

#html i{
    border: 1rem solid var(--html-color);
    background-color: var(--html-color);
}

#html p{
    color: var(--html-color);
}

#css i{
    border: 1rem solid var(--box-shadow-color);
    background-color: var(--box-shadow-color);
}

#css p{
    color: var(--box-shadow-color);
}

#js i{
    border: 1rem solid var(--js-color);
    background-color: var(--js-color);
}

#js p{
    color: var(--js-color);
}

#react i{
    border: 1rem solid var(--react-color);
    background-color: var(--react-color);
}

#react p{
    color: var(--react-color);
}


/* styling the works section */
.works-section-bg{
    background: url(./images/works_img.png);
    filter: opacity(30%);
}

.works-section-infos{
    top: 298%;
    left: 25%;
}

#works-line-icon{
    width: 15%;
}

.works-section-top{
    margin-right: 20rem;
}

.works-section-bottom{
    margin-top: 2rem;
    max-width: 60%;
}

#monitors-img{
    width: 50%;
}

#monitor-1-img{
    width: 5rem;
    height: 6.6rem;
    top: 64.5%;
    left: 19%;
}

#monitor-2-img{
    width: 7rem;
    height: 4rem;
    left: 29.2%;
    top: 71.5%;
}

#move-icon-1, #move-icon-2{
    font-size: 2rem;
}

.view-website{
    top: 60%;
    left: 30.5%;
}

.view-website a{
   border-bottom: 0.15rem solid var(--white-color);
   font-size: 0.8rem;
}


/* styling the blogs section */
.blogs-section{
    padding: 3rem 0rem;
}

#blogs-line-icon{
    width: 7%;
}

.blogs-column{
    padding: 1rem 0rem;
    gap: 2rem;
}

.bold-texts{
    font-weight: 500;
}

#blogs-section-img{
    width: 12rem;
    height: 11.5rem;
}

.blogs-column-content h6{
    font-size: 1.6rem;
    margin-top: 0.7rem;
}

.blogs-column-content p{
    margin: 1rem 0rem;
    font-size: 0.75rem;
}

.blogs-column-content a{
    font-size: 0.7rem;
}

#read-link{
    border-bottom: 0.15rem solid var(--white-color);
    padding-bottom: 0.2rem;
}

.column-info{
    margin-top: 0.5rem;
    gap: 1.5rem;
}

.highlighted-texts{
    padding: 0.2rem 0.5rem;
}

.blogs-btns{
    margin: 3rem 0rem 3rem 0rem;
    gap: 2rem;
}


/* styling the contact section */
.contact-container{
    padding: 4rem 0rem 0rem 0rem;
}

#contact-line-icon{
    width: 10%;
}

.contact-bottom{
    margin-top: 3rem;
    padding: 0rem 2rem;
}

.contact-bottom h4{
    padding: 0.5rem 1.2rem;
    border: 0.1rem solid var(--logo-color);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.contact-bottom form{
    padding: 2rem 0rem;
    text-align: start;
    width: 50%;
}

.contact-bottom form label{
    font-size: 0.8rem;
}

.contact-bottom form input{
    margin-top: 0.8rem;
    border-width: 0rem 0rem 0.1rem 0rem;
    border-bottom-style: solid;
    border-bottom-color: var(--text-color);
}

.contact-bottom form input::placeholder{
    font-size: 0.7rem;
}

.same-line-inputs{
    align-items: flex-start;
    justify-content: space-evenly;
}

#message-label, #message-input{
    margin-left: 4.5rem;
}

#message-input{
    width: 75%;
}

.contact-bottom form button{
    margin: 2rem auto;
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    font-size: 0.8rem;
}

#send-icon{
    margin-left: 0.4rem;
    font-size: 0.2rem;
}

.contact-section hr{
    border: 0.01rem solid var(--white-color);
}


/*styling the footer section */
footer{
    padding: 1.5rem 5rem;
    font-size: 0.8rem;
}

.policy{
    gap: 2rem;
}

.footer-media{
    width: 10%;
}

.footer-media i{
    font-size: 1rem;
    border: 0.2rem solid var(--logo-color);
}




/* ---------------- SPECIFIC STYLES FOR BLOGS PAGE------------------ */
.blogspage-main{
    margin-top: 7rem;
}

.blogsp-top-btn{
    margin-top: 2rem;
}




/* ---------------- SPECIFIC STYLES FOR ARTICLES PAGE------------------ */
.articlesp h6{
    margin-top: 6rem;
    font-size: 1.4rem;
}

.topbar{
    padding: 0rem 0.7rem;
    font-size: 0.9rem;
}

.topbar-hr{
    margin: 1rem auto;
    border: 0.1rem solid var(--line-color);
}

.article p{
    line-height: 1.6;
    font-size: 0.9rem;
}

.topbar-info{
    gap: 0.8rem;
    font-size: 0.8rem;
}

.topbar-info span{
    margin-right: 0.3rem;
}

.webname-labels{
    gap: 1rem;
    font-size: 0.7rem;
    max-width: 40%;
}

#more-title{
    margin-top: 8rem;
    font-size: 2rem;
}

/* ------- MEDIA QUERIES ----- */
/* phone */
@media (min-width: 320px){

    /* styling the header section */
    #code-logo{
        padding-left: 1rem;
    }

    #search-bar input, .social-media{
        display: none;
    }
}